*{
	margin: 0;
	padding: 0;
}
/*__________Header________________*/
header{
	background-color: #9DAEAB;
	width: 100%;
	height: 130px;
	

}
#Logo img{
	width: 400px;
	margin-top: 20px;
	padding-left: 10px;

}
#Login_btn button{
	float: right;
	margin-right: 5%;
	margin-left: -30px;
	background : #3B5D57;
	border: none;
  	outline: none;	
	font-size: 15px;
	color: white;
	padding: 3px;
}
/*_______________________Navigation___________________*/
.navbar {
  overflow: hidden;
  background-color: #627773;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;

  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3B5D57;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3B5D57;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*_________________________BodyGlobal____________________________*/

body{

	background-color: #53635A;
  

}

/*______________________Footer__________________________*/
footer{
	background-color: #2D213A;
	color: azure;
	width: 100%;
	height: 130px;
	padding-top: 50px;
	
	
}
#foot_copyright{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}
#foot_contacts{
	float: right;
	margin-right: 300px;
	margin-top: 10px;
}


/*__________________________Body__Index__________________________*/

#section1_heading {

	text-align: center;
	font-size: 20px;
	margin: 100px 100px 100px 270px;
	background-color: #627773;
	padding: 50px 300px 50px 300px;
	border-radius: 100px;
	position: absolute;
	opacity: 80%;
}
#back_img img
{
	width: 100%;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 10px;
  margin-bottom: 20px;
  height: 300px;
  overflow: hidden;
}

.BodyBack
{
  width: 100%;
  min-height: 700px;
  background-color: #53635a;
}
.menu_table
{
  width: 85%;
  margin: 30px auto;
  border-collapse: inherit;
  text-align: justify;
}
.menu_table_row
{
  border: none;
  padding: 2px;
}
/*___________________________Body_Index_End_________________________*/
/*___________________________Login&Signup_Body_____________________________*/
.Sofa_back img{
	width: 100%;

}

  .form
  {
  	position: absolute;
    min-width: 700px;
    min-height: 150px;
    background-color: #627773;
    color: black;
    padding: 50px;
    border-radius: 75px;
    opacity: 90%;
    margin-left: 425px;
	margin-top: 100px;

  }
input[type=text],input[type=number],input[type=Email],input[type=password],select,textarea,.btn1{
  width: 50%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  color: black;
}
.col-20 {

  float: left;
  width: 20%;
  padding: 20px;
  text-align: right;
}

.col-60 {
  
  float: left;
  width: 60%;
  padding: 20px;
}
.col-80 {
  
  float: left;
  margin-left: 75px;
  width: 60%;
  padding: 20px;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}
/*___________________________AboutUS&ContactUS_Body_____________________________*/
.main_Body
{
	position: absolute;
	margin: 50px;
	padding: 10px;
}
.main_Body,h1,h2,p
{
	padding: 10px;
}
.btn2 
{

	margin: 10px;
	background : #3B5D57;
	border: none;
  	outline: none;	
	font-size: 15px;
	color: white;
	padding: 10px;

}
#Astyle
{
    text-decoration: none;
    color: white;
}
/*_______________________________View Form______________________________*/

table{
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
    overflow-x: clip;
max-width: 120px;
}





.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    margin: 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}

.user_img{
max-width: 70px;
position: absolute;
margin: -65px;
padding: 0;
}

.user_img_div{
  float: left;
position: absolute;
margin-left: 1420px;
margin-top: -17px;

}
.user_name
{
  float: left;
margin-left: 1350px;
}